{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ page_title }}
{% endblock %}

{% block base_class %}
profile
{% endblock %}

{% block heading %}
    <div class="container profile_hero">
        <div class="grid columns">
            <div class="column is-1">
                <img class="image-card" src="{{ profile.image.url }}" alt="{{ user.username }} profile picture">
            </div>
            <p class="large-heading column is-11">Hey, {{ user.first_name }} {{ user.last_name }}</p>
        </div>
    </div>


{% endblock %}

{% block content %}

    <section class="intro">
        <div class="container">
            <div class="grid columns">
                <div data-animate-in="slide-up" class="columns column card full">
                    <div id="map" class="column is-6 map"></div>
                    <div class="column is-6">
                        <p class="text">Name: {{ user.first_name }} {{ user.last_name }}</p>
                        <p class="text">Bio: {{ profile.bio }}</p>
                        <p class="text">DoB: {{ profile.birth_date }}</p>
                        <p class="text">Role: {{ profile.role }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&callback=initMap"
    async defer></script>

{% endblock %}
