{% extends 'base.html' %}

{% block heading %}
    <h1>Sign-up or login</h1>
{% endblock %}


{% block content %}
    <section class="container row column first-section">
        <div class="card column is-half">
          <h2 class="card-header-title">Sign up</h2>
            <div class="card-content">
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <div class="field">
                    <label class="label">{{ field.label_tag }}</label>
                    <div class="control">{{ field }}</div>
                    {% if field.help_text %}
                      <small class="help" style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endfor %}
                <button class="button" type="submit">Sign up</button>
              </form>
            </div>
        </div>
    </section>
{% endblock %}