{% load static cache_bust nav %}

<!doctype html>
<html class="frontend {% block base_class %}{% endblock %}" lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="{% static 'css/app.css' %}?{% cache_bust %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/iconmonstr-iconic-font.min.css' %}" rel="stylesheet" type="text/css" />
        {% csrf_token %}
    </head>
    <body>
        <main class="{{ page.title }}">

            <nav class="navbar nav row is-fixed-top">
                <div class="">
                    <div class="left">
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                {% nav %}
                    {% if user.is_authenticated %}
                        <div class="right">
                            <a href="/profile/{{ user.get_username }}">Profile</a>
                            <a href="/logout">Logout</a>
                        </div>
                    {% else %}
                        <button data-modal="login" class="button">Sign-in</button>

                    {% endif %}
                </div>
            </nav>

        <nav class="navbar mobile">
        <div class="row">
            <a href="{% url 'home' %}">Home</a>
            <button data-location="nav" data-toggle="mobile-nav"><i class="im im-menu"></i></button>
        </div>
        <div class="mobile-nav items">
            {% nav %}
                {% if user.is_authenticated %}
                    <div class="right">
                        <a href="/profile">Profile</a>
                        <a href="/logout">Logout</a>
                    </div>
                {% else %}
                    <button data-modal="login" class="button">Sign-in</button>

                {% endif %}
            </div>
        </nav>

        <section class="hero">
                    {% block heading %}{% endblock %}
        </section>

        {% block content %}{% endblock content %}

        </main>

        {% include 'modals/login.html' %}

        <footer class="footer">
            <div class="content-container">
                &copy; Scribe {% now "Y" %}
            </div>
        </footer>

        {% block scripts %}

        <script async src="{% static 'js/app.js' %}"></script>
        <script async type="module" src="{% static '/js/main.js' %}"></script>
        <script defer type="module">
            import {PageView} from "/static/js/PageView.js";
            const pageview = new PageView;
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            pageview.register('/api/v2/', csrftoken);
        </script>

    {% endblock %}
    </body>
</html>
