{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ page_title }}
{% endblock %}

{% block heading %}

    <div class="grid container">
        <span>
            <h1 class="large-heading">Welcome to Scribe</h1>
            <p class="is-size-5">A platform specialising in making your life as easy as possible.</p>
            <div class="is-visible-mobile scroll-arrow" data-scroll="intro">
                <img src="{%  static 'icons/iconmonstr-arrow-down-thin.svg' %}" />
            </div>
        </span>
    </div>

{% endblock %}

{% block content %}

    <section id="intro" class="intro">
        <div class="container">
            <h2 class="title is-2">Scribe comes with the following features:</h2>
            <div class="grid three-col-even">
                {% include 'sections/card.html' with title='CMS' type='transparent' content='Includes a full CMS so you can create whatever pages your business needs to succeed.' icon='im im-pencil' %}
                {% include 'sections/card.html' with title='CRM' type='transparent' content='Includes a full CRM system so you can monitor and track your customers.' icon='im im-users' %}
                {% include 'sections/card.html' with title='ERP' type='transparent' content='Includes a full ERP system to handle whatever your business needs to grow and function properly.' icon='im im-cubes' %}
            </div>
        </div>
    </section>

    <section class="backend">
        <div class="container-large">
            <div class="columns is-2">

                <div data-animate-in="slide-up" class="column is-half">
                    <h2 class="title is-2">A powerful backend</h2>
                    <p class="is-3">Everything is available through a backend application. Simply log in and you can view, create, update and delete everything through a simple admin interface</p>
                </div>

                <div data-animate-in="slide-up" class="column is-half">
                    <img class="image-card" src="{% static 'images/admin.png' %}" alt="Image of the backend application" />
                </div>
            </div>
        </div>
    </section>

{% endblock %}
