{% extends 'base.html' %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block heading %}

    <h1 class="large-heading">{{ page.title }}</h1>


{% endblock %}

{% block content %}

    <section class="intro">
        <div class="container">
            {{ page.content|safe }}
            </div>
        </section>

{% endblock %}