@import 'settings.scss';
@import 'animation.scss';
@import 'card.scss';
@import 'containers.scss';
@import 'mixins.scss';
@import 'buttons.scss';
@import 'form.scss';
@import 'grid.scss';
@import 'hero.scss';
@import 'image.scss';
@import 'navigation.scss';
@import 'profile.scss';
@import 'overrides.scss';
@import 'sections.scss';
@import 'fonts.scss';

.container {
    padding: $global-padding;

    .content {
        display: flex;
        flex-flow: row wrap;
        padding: 1rem;
        width: 100%;
    }
}
