@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}


@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

div[data-animate-in] {
  opacity: 0;
  top: -50px;
  transition: all 500ms linear;

  &.slide-down {
    opacity: 1;
    top: 0;
    transition: all 500ms linear;
  }

  &.slide-up {
    opacity: 1;
    top: 0;
    transition: all 500ms linear;
  }
}
