$white: #fefefe;

button.button,
.button,
button {
  background: rgba($white, 0.1);
  border: 1px solid rgba($white, 0.3);
  border-radius: 0;
  color: $white;
  cursor: pointer;
  font-size: 125%;
  font-weight: 500;
  padding: $global-padding $global-padding * 2;

  &:hover {
    color: $white;
    background: rgba($white, 0.3);
  }

  &.full {
    background: $dark-blue;
    color: $brand-orange;
    padding: 0 $global-padding;

    &:hover {
      background: lighten($dark-blue, 0.3);
      color: lighten($brand-orange, 0.3);
    }
  }
}