.card {
  position: relative;
  box-shadow: none;
  padding: 0;

  &.transparent {
    background-color: rgba($white, 0.1);
    border: 1px solid rgba($white, 0.3);
    color: $white;
    position: relative;

    .card-header {
      border-bottom: 1px solid rgba($white, 0.3);

      h5 {
        margin: 0;
        padding: 0;
      }
    }

    .card-icon {
      color: $white;
    }
  }

  &.full {
    background-color: $white;
    border: 1px solid lighten( $medium-grey, 25% );
    color: $dark-grey;
    position: relative;

    .card-header {
      border-bottom: 1px solid lighten( $medium-grey, 30% );

      h5 {
        margin: 0;
        padding: 0;
        background: transparent;
      }
    }

    .card-icon {
      color: lighten( $medium-grey, 30% );
    }
  }

  .card-header {
    padding: $global-padding;
    box-shadow: none;
  }

  .card-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: $global-padding;

    .card-icon {
      font-size: 5rem;
      margin: $global-margin * 2 0;
    }
  }

  .background-image {
    top: 0;
    left: 0;
    position: absolute;
  }
}