html.frontend {
  background: #e9ecef;
  background-image: linear-gradient(45deg, #30cfd0 0%, #330867 100%);
  margin: 0;
  padding: 0;

  &.is-modal-open {
    overflow: hidden;
  }
}

body {
  color: $white;
  margin: 0;
  padding: 0;
}

div#header {
  height: auto;
  background: $dark-blue;
  border-bottom: 1px solid $medium-grey;

  .branding {
    h1 {
      font-size: 100%;

      a {
        color: $brand-orange;
      }
    }
  }
}

.container-large {
  margin: 0 auto;
  position: relative;
  padding: $global-padding;

  @include desktop {
    max-width: $desktop - 2 * $gap;
    width: $desktop - 2 * $gap;

    &.is-fluid {
      margin-left: $gap;
      margin-right: $gap;
      max-width: none;
      width: auto;
    }
  }


  @include until-widescreen {
    &.is-widescreen {
      max-width: $widescreen - 2 * $gap;
      width: auto;
    }
  }


  @include until-fullhd {
    &.is-fullhd {
      max-width: $fullhd - 2 * $gap;
      width: auto;
    }
  }


  @include widescreen {
    max-width: $widescreen - 2 * $gap;
    width: $widescreen - 2 * $gap;
  }


  @include fullhd {
    max-width: $fullhd - 2 * $gap;
    width: $fullhd - 2 * $gap;
  }

  @include uhd {
    max-width: $uhd - 2 * $gap;
    width: $uhd - 2 * $gap;
  }
}

.content {
  padding: 1rem;

  .content-related {
    padding-top: 0;
  }
}

.module {
   h4 {
     padding: .75rem;
     background: $medium-grey;
     color: $white;
     margin-bottom: 0;
   }
  h5 {
    padding: .75rem;
    background: $light-grey;
  }

  .actionlist {
    padding: .75rem;
  }
}

.flex {
  display: flex;
  width: 100%;

  &.row {
    flex-flow: row nowrap;

    @include mobile {
        flex-flow: column wrap;
    }

    &.column {
      flex-flow: column nowrap;;
    }
  }

  &.space-around {
    justify-content: space-around;
  }

  &.space-between {
    justify-content: space-between;
  }
}

.flex-row {
  display: flex;

  &.space-between {
    justify-content: space-between;
    align-items: center;
  }
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.footer {
  background: rgba( $white, 0.1 );
  border-top: 1px solid rgba( $white, 0.3 );
  color: $white;
  padding: $global-padding * 2;
}