body {
  color: #225560; }

h1 {
  font-size: 250%; }

h2 {
  font-size: 225%; }

h3 {
  font-size: 200%; }

h4 {
  font-size: 175%; }

h5 {
  font-size: 150%; }

h6 {
  font-size: 125%; }

/*# sourceMappingURL=fonts.css.map */
