@font-face {
    font-family: JosefinSans;
    src: url('../fonts/JosefinSans-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: JosefinSlab;
    src: url('../fonts/JosefinSlab-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: JosefinSlab;
    src: url('../fonts/JosefinSlab-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: JosefinSlab;
    src: url('../fonts/JosefinSlab-Light.ttf');
    font-weight: 400;
}

@font-face {
    font-family: JosefinSlab;
    src: url('../fonts/JosefinSlab-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: JosefinSlab;
    src: url('../fonts/JosefinSlab-Thin.ttf');
    font-weight: 300;
}

body {
    color: #225560;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'JosefinSlab', serif;
    }

    p, a, li, strong, label, input {
        font-family: 'JosefinSans', sans-serif;
    }
}

h1 {font-size: 250%;}
h2 {font-size: 225%;}
h3 {font-size: 200%;}
h4 {font-size: 175%;}
h5 {font-size: 150%;}
h6 {font-size: 125%;}

.title {
    color: $white;

    &:not(:last-child) {
        margin-bottom: $global-margin * 3;
    }
}

.large-heading {
    font-size: 4.75rem;
}
.medium-heading {
    font-size: 3.5rem;
}
