.base-grid {
  background-color: $light-grey;
}

.grid-header {
  background-color: $medium-grey;
  color: $white;

  a {
    font-weight: 500;
    color: $white;
  }
}

.grid-column {

}

@mixin grid($columns: false, $rows: false, $column-size: 0, $row-size: 0, $gaps: false, $borders: false) {
  display: grid;
  margin-top: 0;
  padding-top: 0;

  @if( $columns != false ){
    grid-template-columns: $column-size;
  }

  @if( $rows != false ){
    grid-template-rows: $row-size;
  }

  @if( $borders != false ){
    border-top: 1px solid $black;
    border-right: 1px solid $black;

    > span, div {
      border-bottom: 1px solid $black;
      border-left: 1px solid $black;
    }
  }

  @if( $gaps != false ){
    grid-gap: $global-margin;
  }
}

.grid {

  &.three-col-even {
    @include grid(true, false, 1fr, 0, true, false);

    @include fullhd {
      @include grid(true, false, repeat( 3, 1fr ), 0, true, false);
    }
  }

  &.four-col-even {
    @include grid(true, false, 1fr, 0, true, false);

    @include fullhd {
      @include grid(true, false, repeat(4, 1fr), 0, true, false)
    }
  }

  &.five-col-even {
    @include grid(true, false, repeat( 5, 1fr ), 0, false, false)
  }
}