.hero {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 40vh;
    max-height: 90vh;
    min-height: 600px;
    margin-top: $global-margin * 3;

    &.primary {
        height: 80vh;
        max-height: 80vh;
    }

    > .grid {
        position: relative;
        width: calc(100% - 2rem);
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100%;

        > span {
            height: 50%;
            align-self: center;
            color: $white;

            h1 {
                font-size: 4.75rem;
                font-weight: 900;
            }
        }
    }

    .grid-image {
        display: flex;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    .scroll-arrow {
        animation: MoveUpDown 3s linear infinite;
        bottom: 0;
        cursor: pointer;
        left: 45%;
        max-width: 60px;
        margin: $global-margin auto;
        position: absolute;
        width: 10%;

        img {
            height: auto;
            width: 100%;
        }
    }

    @media screen and (max-width: 1024px) {
        height: 90vh;

        > .grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
        }
    }
}