.hero {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  height: 60vh;
  max-height: 60vh; }
  .hero.primary {
    height: 80vh;
    max-height: 80vh; }
  .hero > .grid {
    position: relative;
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%; }
    .hero > .grid > span {
      height: 50%;
      align-self: center;
      color: white; }
      .hero > .grid > span h1 {
        font-size: 2rem; }
  .hero .grid-image {
    position: absolute;
    z-index: -1;
    display: flex;
    top: -15%;
    width: 120%;
    height: 100%;
    overflow: hidden;
    transform: skewY(5deg);
    transform-origin: top right;
    background: linear-gradient(60deg, #171219, #225560); }
  @media screen and (max-width: 1024px) {
    .hero {
      height: auto;
      min-height: 100vh; }
      .hero > .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr; } }

/*# sourceMappingURL=hero.css.map */
