@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}

nav.navbar {
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba($brand-color, 0.1);
    border-bottom: 1px solid rgba($white, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    @include until($tablet) {
        display: none;
    }

    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        > button {
            height: 100%;
            border-bottom-color: transparent;
            border-top-color: transparent;
        }
    }
    
    a {
        text-decoration: none;
    }

    a.navbar-item {
        color: $light-grey;
        font-size: 120%;

        &:hover {
            background: none;
            color: lighten($light-grey, 10%);
            text-decoration: underline;
        }
    }

    .navbar-link {
        &:hover {
            background: none;
        }
    }

    .navbar-dropdown {
        border-top-width: 1px;

        a {
            color: $brand-color;
            padding-left: .5rem;
            padding-right: .5rem;

            &:hover {
                background: darken($light-grey, 5%);
            }
        }
    }

    ul {
        display: flex;
        flex-direction: row;

        > li {
            margin-right: $global-margin;

            a {
                display: block;
                color: white;
                font-size: 120%;
                font-weight: 500;
                padding: $global-margin 0;
            }
        }
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 65%;

        input {
            max-height: 40%;
            max-width: 140px;
        }

        button {
            max-height: 40%;
            font-size: 100%;
        }
    }
}

.left,
.right {
    display: flex;
    align-items: stretch;
    justify-content: center;

    a {
        color: $brand-orange;
        display: block;
        padding: $global-padding * 2;
        transition: all 250ms linear;

        &:hover {
            background: linear-gradient(to top, rgba($white, .15), rgba($white, .05) 30%, rgba($white, 0));
            transition: all 250ms linear;
        }
    }
}

.navbar-content {
    .navbar-item {
        &.has-dropdown {
            align-items: center;
        }
    }
}

nav.navbar.mobile {
    backdrop-filter: blur(2px);
    display: none;
    left: 0;
    max-height: 60px;
    position: fixed;
    top: 0;

    .row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    a {
        color: $brand-orange;
        padding: $global-padding;
    }

    button {
        border-bottom-color: transparent;
    }

    .items {
        background: rgba($white, .15);
        display: flex;
        flex-flow: column wrap;
        margin: 0;
        position: absolute;
        top: -300px;
        transition: all 500ms linear;
        width: 100%;

        > div,
        button {
            width: 100%;
        }

        .navbar {
            ul {
                display: flex;
                flex-flow: column wrap;
            }
        }

        &.show {
            top: 60px;
            transition: all 500ms linear;
        }

        .right {
            background: rgba($white, .85);
            justify-content: space-around;

            a {
                width: 50%;
                text-align: center;

                &:hover {
                    background: transparent;
                }
            }
        }
    }


    @include until($tablet) {
        display: block;
    }
}


.blur {
    filter: blur(5px);
    transition: all 250ms linear;
}
