.profile {
    grid-auto-rows: minmax(80px, auto);
    grid-template-columns: 1fr 2fr 1fr;

    > span {
        p {
            line-height: 150%;
            margin-bottom: $global-margin / 2;
        }
    }

    .capitalise {
        text-transform: capitalize;
    }

    @include breakpoint(phabletonly) {
        grid-auto-columns: auto;
        grid-template-columns: 1fr;
    }
}

.profile_hero {
    justify-content: center;
}