// Global settings
$global-padding: 1rem;
$global-margin: 1rem;

// Colour settings
$dark-purple: #171219;
$medium-purple: #413c44;

$dark-blue: #475566;
$medium-blue: #5b7d8c;
$light-blue: #74a7ae;
$pale-blue: #98d1c9;

$medium-green: #005b4e;
$mint-green: #00c9b3;

$black: #1d1d1d;
$dark-grey: #3c3c3c;
$medium-grey: #9c9c9c;
$light-grey: #ececec;

$background: #e9ebee;
$white: #fcfcfc;

$brand-color: #104E8B;
$brand-orange: #FA7921;
$brand-green: #095256;
$light-green: #5AAA95;
$light-pink: #BCABAE;

$danger: #4f000b;
$warning: lighten( $brand-orange, 20% );
$success: lighten( $brand-green, 20% );
$neutral: lighten( $brand-color, 20% );

body, button, input, select, textarea {
    font-family: 'Titillium Web', sans-serif;
}
// Box-shadow settings
$box-shadow-color: rgba(0, 0, 0, 0.35);
