{% load i18n static django_admin_list %}

{% if result_hidden_fields %}
    <div class="hiddenfields">{# DIV for HTML validation #}
        {% for item in result_hidden_fields %}{{ item }}{% endfor %}
    </div>
{% endif %}

{% if results %}
<div class="results">
    <div id="result_list" class="result-list-grid columns is-multiline">
        <div class="column is-full result-header">
            <div class="flex-row">
            {% for header in result_headers %}
            <span class="" {{ header.class_attrib }}>
               {% if header.sortable %}
                 {% if header.sort_priority > 0 %}
                   <div class="sortoptions">
                     <a class="sortremove" href="{{ header.url_remove }}" title="{% trans "Remove from sorting" %}"></a>
                     {% if num_sorted_fields > 1 %}<span class="sortpriority" title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">{{ header.sort_priority }}</span>{% endif %}
                     <a href="{{ header.url_toggle }}" class="toggle {% if header.ascending %}ascending{% else %}descending{% endif %}" title="{% trans "Toggle sorting" %}"></a>
                   </div>
                 {% endif %}
               {% endif %}
               <div class="text">{% if header.sortable %}<a href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>{% else %}<span>{{ header.text|capfirst }}</span>{% endif %}</div>
               <div class="clear"></div>
            </span>{% endfor %}
            </div>
        </div>

        {% for result in results %}
            {% include 'admin/TestDjango/object-card.html' with result=result %}
        {% endfor %}

    </div>
</div>
{% endif %}
