{% extends "admin/TestDjango/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    <div class="content-main column grid three-col-even">

    {% if app_list %}
        {% for app in app_list %}
            <div class="app-{{ app.app_label }} module card full">
            <div class="card-header">
                <h5><a href="{{ app.app_url }}" class="column is-full" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a></h5>
            </div>
            <div class="card-content">
            {% for model in app.models %}
                <div class="model-{{ model.object_name|lower }} grid-row">
                {% if model.admin_url %}
                    <span class=""><a href="{{ model.admin_url }}">{{ model.name }}</a></span>
                {% else %}
                    <span>{{ model.name }}</span>
                {% endif %}

                {% if model.add_url %}
                    <span class=""><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></span>
                {% else %}
                    <span>&nbsp;</span>
                {% endif %}

                {% if model.admin_url %}
                    {% if model.view_only %}
                    <span class=""><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></span>
                    {% else %}
                    <span class=""><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></span>
                    {% endif %}
                {% else %}
                    <span>&nbsp;</span>
                {% endif %}
                </div>
            {% endfor %}
            </div>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans "You don't have permission to view or edit anything." %}</p>
    {% endif %}
    </div>
    {% endblock %}

{% block sidebar %}
    <div class="content-related is-one-fifth column">
        <div class="module card full" id="recent-actions-module">
        <div class="card-header">
            <h5><span class="column">{% trans 'Recent actions' %}</span></h5>
        </div>
        <div class="card-content">
                {% load log %}
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
                {% else %}
                <ul class="actionlist">
                {% for entry in admin_log %}
                <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                    {% if entry.is_deletion or not entry.get_admin_url %}
                        {{ entry.object_repr }}
                    {% else %}
                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                    {% endif %}
                    <br>
                    {% if entry.content_type %}
                        <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                    {% else %}
                        <span class="mini quiet">{% trans 'Unknown content' %}</span>
                    {% endif %}
                </li>
                {% endfor %}
                </ul>
                {% endif %}
        </div>
        </div>
    </div>
    {% endblock %}

