{% extends "admin/TestDjango/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="column content-main">

<h3>Successfully logged out!</h3>
<p class="has-text-dark">You can go <a href="{% url 'home' %}">home</a> or <a href="{% url 'admin:login' %}">log back in</a> </p>

</div>
{% endblock %}
