{% load django_admin_list %}

<div class="card full column is-one-fifth-desktop is-half-tablet is-full-mobile">
    {% if result.form.non_field_errors %}
        <div class="card-header {{ result|length|int_to_string }}">
            {% for item in result.form.non_field_errors %}
                <span>{{ item }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <div class="card-content {{ result|length|int_to_string }}">
        <div class="flex-column">
            {% for item in result %}
                <span>{{ item }}</span>
            {% endfor %}
        </div>
    </div>
</div>
