body, button, input, select, textarea {
  font-family: 'Titillium Web', sans-serif; }

.card {
  position: relative;
  box-shadow: none;
  padding: 0; }
  .card.transparent {
    background-color: rgba(252, 252, 252, 0.1);
    border: 1px solid rgba(252, 252, 252, 0.3);
    color: #fcfcfc;
    position: relative; }
    .card.transparent .card-header {
      border-bottom: 1px solid rgba(252, 252, 252, 0.3); }
      .card.transparent .card-header h5 {
        margin: 0;
        padding: 0; }
    .card.transparent .card-icon {
      color: #fcfcfc; }
  .card.full {
    background-color: #fcfcfc;
    border: 1px solid gainsboro;
    color: #3c3c3c;
    position: relative; }
    .card.full .card-header {
      border-bottom: 1px solid #e9e9e9; }
      .card.full .card-header h5 {
        margin: 0;
        padding: 0;
        background: transparent; }
    .card.full .card-icon {
      color: #e9e9e9; }
  .card .card-header {
    padding: 1rem;
    box-shadow: none; }
  .card .card-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 1rem; }
    .card .card-content .card-icon {
      font-size: 5rem;
      margin: 2rem 0; }
  .card .background-image {
    top: 0;
    left: 0;
    position: absolute; }

button.button,
.button,
button {
  background: rgba(254, 254, 254, 0.1);
  border: 1px solid rgba(254, 254, 254, 0.3);
  border-radius: 0;
  color: #fefefe;
  cursor: pointer;
  font-size: 125%;
  font-weight: 500;
  padding: 1rem 2rem; }
  button.button:hover,
  .button:hover,
  button:hover {
    color: #fefefe;
    background: rgba(254, 254, 254, 0.3); }
  button.button.full,
  .button.full,
  button.full {
    background: #475566;
    color: #FA7921;
    padding: 0 1rem; }
    button.button.full:hover,
    .button.full:hover,
    button.full:hover {
      background: #485667;
      color: #fa7a22; }

@font-face {
  font-family: JosefinSans;
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-weight: 500; }

@font-face {
  font-family: JosefinSlab;
  src: url("../fonts/JosefinSlab-Regular.ttf");
  font-weight: 500; }

@font-face {
  font-family: JosefinSlab;
  src: url("../fonts/JosefinSlab-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: JosefinSlab;
  src: url("../fonts/JosefinSlab-Light.ttf");
  font-weight: 400; }

@font-face {
  font-family: JosefinSlab;
  src: url("../fonts/JosefinSlab-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: JosefinSlab;
  src: url("../fonts/JosefinSlab-Thin.ttf");
  font-weight: 300; }

body {
  color: #225560; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'JosefinSlab', serif; }
  body p, body a, body li, body strong, body label, body input {
    font-family: 'JosefinSans', sans-serif; }

h1 {
  font-size: 250%; }

h2 {
  font-size: 225%; }

h3 {
  font-size: 200%; }

h4 {
  font-size: 175%; }

h5 {
  font-size: 150%; }

h6 {
  font-size: 125%; }

.title {
  color: #fefefe; }
  .title:not(:last-child) {
    margin-bottom: 3rem; }

.large-heading {
  font-size: 4.75rem; }

.medium-heading {
  font-size: 3.5rem; }

.base-grid {
  background-color: #ececec; }

.grid-header {
  background-color: #9c9c9c;
  color: #fefefe; }
  .grid-header a {
    font-weight: 500;
    color: #fefefe; }

.grid.three-col-even {
  display: grid;
  margin-top: 0;
  padding-top: 0;
  grid-template-columns: 1fr;
  grid-gap: 1rem; }
  @media screen and (min-width: 1472px) {
    .grid.three-col-even {
      display: grid;
      margin-top: 0;
      padding-top: 0;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem; } }

.grid.four-col-even {
  display: grid;
  margin-top: 0;
  padding-top: 0;
  grid-template-columns: 1fr;
  grid-gap: 1rem; }
  @media screen and (min-width: 1472px) {
    .grid.four-col-even {
      display: grid;
      margin-top: 0;
      padding-top: 0;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem; } }

.grid.five-col-even {
  display: grid;
  margin-top: 0;
  padding-top: 0;
  grid-template-columns: repeat(5, 1fr); }

.dashboard {
  background: #e9ebee;
  color: #1d1d1d; }
  .dashboard .title {
    width: 100%; }
  .dashboard #container .content {
    width: auto;
    margin: 0 auto;
    padding: 0 1rem; }
    .dashboard #container .content .columns {
      margin: 0 1rem; }
      .dashboard #container .content .columns #changelist-form {
        width: 70%; }
        .dashboard #container .content .columns #changelist-form .results, .dashboard #container .content .columns #changelist-form .paginator {
          margin-right: 0; }
        .dashboard #container .content .columns #changelist-form .results .column.is-full {
          padding: 1rem 0; }
        .dashboard #container .content .columns #changelist-form .results .card span {
          margin-bottom: 1rem; }
        .dashboard #container .content .columns #changelist-form .results .card input[type=text] {
          border: 1px solid #ececec;
          margin-right: 0;
          padding: 1rem 0.5rem; }
          .dashboard #container .content .columns #changelist-form .results .card input[type=text]:hover, .dashboard #container .content .columns #changelist-form .results .card input[type=text]:focus {
            border: 1px solid #FA7921; }
        @media screen and (max-width: 480px) {
          .dashboard #container .content .columns #changelist-form {
            width: 100%; } }
      .dashboard #container .content .columns #changelist-filter {
        position: relative;
        margin-left: 1rem; }
      .dashboard #container .content .columns .paginator {
        padding: 1rem;
        background: transparent; }
      .dashboard #container .content .columns .actions {
        background: whitesmoke;
        border-bottom: 1px solid rgba(254, 254, 254, 0.3);
        margin: 0 1rem; }
    .dashboard #container .content .result-header {
      background-color: white;
      margin-bottom: 1rem; }
  .dashboard .header {
    padding: 1rem;
    color: #fefefe; }
    .dashboard .header a {
      color: #FA7921; }
      .dashboard .header a:hover {
        color: #7f3503; }
  .dashboard .module {
    position: relative;
    display: flex;
    flex-flow: column nowrap; }
    .dashboard .module#recent-actions-module h5 {
      font-family: 'JosefinSans', sans-serif; }
    .dashboard .module .action-toggle {
      position: relative;
      background: #ececec;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      padding: 0.75rem;
      z-index: 2; }
      .dashboard .module .action-toggle h5 {
        padding: 0;
        margin: 0; }
      .dashboard .module .action-toggle i {
        transition: all 250ms cubic-bezier(0.32, 0.8, 0.75, 0.3); }
        .dashboard .module .action-toggle i.spin {
          transition: all 250ms cubic-bezier(0.32, 0.8, 0.75, 0.3);
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg); }
    .dashboard .module .change-list {
      display: flex;
      flex-flow: row nowrap;
      min-height: 0; }
      .dashboard .module .change-list > div {
        order: 2; }
      .dashboard .module .change-list > form {
        width: 80%; }
      @media screen and (max-width: 480px) {
        .dashboard .module .change-list {
          flex-flow: column nowrap; }
          .dashboard .module .change-list > form {
            width: 100%; } }
    .dashboard .module ul.actionlist {
      margin: 0;
      padding: 1rem;
      padding-top: 0;
      position: absolute;
      width: 100%;
      background: #ececec;
      opacity: 0;
      z-index: 1;
      transition: all 250ms cubic-bezier(0.32, 0.8, 0.75, 0.3); }
      .dashboard .module ul.actionlist.show {
        position: relative;
        opacity: 1;
        top: 0;
        transition: all 250ms cubic-bezier(0.32, 0.8, 0.75, 0.3); }
      .dashboard .module ul.actionlist > li {
        height: 0;
        transition: all 250ms cubic-bezier(0.32, 0.8, 0.75, 0.3);
        position: relative; }
        .dashboard .module ul.actionlist > li:before {
          content: '';
          height: 100%;
          position: absolute;
          right: 0;
          width: 5px; }
        .dashboard .module ul.actionlist > li.show {
          height: auto;
          transition: all 250ms cubic-bezier(0.32, 0.8, 0.75, 0.3); }
        .dashboard .module ul.actionlist > li.addlink:before {
          background: rgba(19, 170, 178, 0.7); }
        .dashboard .module ul.actionlist > li.deletelink:before {
          background: rgba(79, 0, 11, 0.7); }
        .dashboard .module ul.actionlist > li.changelink:before {
          background: rgba(28, 129, 229, 0.7); }
      .dashboard .module ul.actionlist > li:first-child {
        padding-top: 1rem;
        border-top: 1px solid lightgray; }
  .dashboard div.breadcrumbs {
    background: #fefefe;
    padding: 0.5rem 1rem;
    color: #3c3c3c; }
    .dashboard div.breadcrumbs a {
      color: #104E8B; }
      .dashboard div.breadcrumbs a:hover {
        color: #24473e; }
  .dashboard .grid-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    width: 100%; }
    .dashboard .grid-row span:nth-child(1) {
      width: 60%; }
    .dashboard .grid-row span:nth-child(2) {
      width: 20%; }
    .dashboard .grid-row span:nth-child(3) {
      width: 20%; }
  .dashboard .change-list-grid {
    display: grid;
    margin-top: 0;
    padding-top: 0;
    grid-template-columns: 1fr 5fr 10fr 5fr;
    grid-gap: 1rem; }
  .dashboard .result-list-grid {
    padding-bottom: 1rem; }
  .dashboard .row1 {
    background-color: #e5e5e5; }
  .dashboard .grid {
    display: grid;
    margin-top: 0;
    padding-top: 0;
    grid-template-columns: 1fr 5fr 4fr 4fr 4fr; }
    .dashboard .grid span {
      padding: 1em; }
    .dashboard .grid:first-child {
      width: auto; }
  .dashboard #content-main {
    position: relative;
    width: 100%; }
    .dashboard #content-main .object-tools {
      position: relative;
      left: 0;
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      z-index: 2; }
      .dashboard #content-main .object-tools a {
        display: inline-block;
        border-radius: 0;
        padding: 1rem 2rem;
        background-color: #FA7921;
        color: #fefefe;
        transition: all 250ms ease-in-out; }
        .dashboard #content-main .object-tools a:hover {
          background-color: #e35f05;
          color: #e5e5e5;
          transition: all 250ms ease-in-out; }
  .dashboard .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center; }
    .dashboard .login #container {
      margin: 0 auto; }
    .dashboard .login .content .columns {
      flex-direction: column; }
      .dashboard .login .content .columns .errornote {
        color: #104E8B;
        background: rgba(250, 121, 33, 0.4);
        margin: 0.5rem;
        padding: 0.5rem; }
  .dashboard .branding h1 {
    margin-bottom: 0.75rem; }
  .dashboard .content h1 {
    margin-bottom: 3rem; }

strong {
  color: #fefefe; }

h1 {
  font-size: 2em;
  margin-bottom: 0.5em; }
  h1:not(:first-child) {
    margin-top: 1em; }

h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em; }
  h2:not(:first-child) {
    margin-top: 1.1428em; }

h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em; }
  h3:not(:first-child) {
    margin-top: 1.3333em; }

h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em; }

h6 {
  font-size: 1em;
  margin-bottom: 1em; }

a {
  text-decoration: none;
  color: #095256; }
  a:visited {
    color: #095256; }

.flex-row {
  display: flex;
  flex-flow: row nowrap; }
  .flex-row span {
    padding: 1em;
    flex: 1 1 content; }
  .flex-row:first-child {
    flex: 0 0 1 !important; }
  @media screen and (max-width: 640px) {
    .flex-row {
      flex-flow: column nowrap; } }
