@import "./extend/settings.scss";
@import "./utilities/mixins";
@import "./extend/card.scss";
@import "./extend/buttons.scss";
@import "./extend/fonts.scss";
@import "./extend/grid.scss";

.dashboard {
  background: $background;
  color: $black;

  .title {
    width: 100%;
  }

  #container {
    .content {
      width: auto;
      margin: 0 auto;
      padding: 0 1rem;

      .columns {
        margin: 0 1rem;

        #changelist-form {
          width: 70%;

          .results, .paginator {
            margin-right: 0;
          }

          .results {
            .column.is-full {
              padding: $global-padding 0;
            }

            .card {
              span {
                margin-bottom: $global-margin;
              }

              input[type=text] {
                border: 1px solid $light-grey;
                margin-right: 0;
                padding: $global-padding $global-padding / 2;

                &:hover,
                &:focus {
                  border: 1px solid $brand-orange;
                }
              }
            }
          }

          @media screen and (max-width: 480px){
            width: 100%;
          }
        }

        #changelist-filter {
          position: relative;
          margin-left: $global-margin;
        }

        .paginator {
          padding: $global-padding;
          background: transparent;
        }

        .actions {
          background: lighten($medium-grey, 35%);
          border-bottom: 1px solid rgba($white, 0.3);
          margin: 0 $global-padding;
        }
      }

      .result-header {
        background-color: lighten($medium-grey, 40%);
        margin-bottom: $global-margin;
      }
    }
  }

  .header {
    padding: $global-padding;
    color: $white;

    a {
      color: $brand-orange;

      &:hover {
        color: darken($brand-orange, 30%);
      }
    }
  }

  .module {
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    &#recent-actions-module {
      h5 {
        font-family: 'JosefinSans', sans-serif;
      }
    }

    .action-toggle {
      position: relative;
      background: $light-grey;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      padding: $global-padding * .75;
      z-index: 2;

      h5 {
        padding: 0;
        margin: 0;
      }

      i {
        transition: all 250ms cubic-bezier( .32, .80, .75, .30 );

        &.spin {
          transition: all 250ms cubic-bezier( .32, .80, .75, .30 );
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
        }
      }
    }

    .change-list {
      display: flex;
      flex-flow: row nowrap;
      min-height: 0;

      > div {
        order: 2;
      }

      > form {
        width: 80%;
      }

      @media screen and (max-width: 480px) {
        flex-flow: column nowrap;

        > form {
          width: 100%;
        }
      }
    }

    ul.actionlist {
      margin: 0;
      padding: $global-padding;
      padding-top: 0;
      position: absolute;
      width: 100%;
      background: $light-grey;
      opacity: 0;
      z-index: 1;
      transition: all 250ms cubic-bezier( .32, .80, .75, .30 );

      &.show {
        position: relative;
        opacity: 1;
        top: 0;
        transition: all 250ms cubic-bezier( .32, .80, .75, .30 );
      }

      > li {
        height: 0;
        transition: all 250ms cubic-bezier( .32, .80, .75, .30 );
        position: relative;

        &:before {
          content: '';
          height: 100%;
          position: absolute;
          right: 0;
          width: 5px;
        }

        &.show {
          height: auto;
          transition: all 250ms cubic-bezier( .32, .80, .75, .30 );
        }

        &.addlink {
          &:before {
            background: rgba( $success, .7 );
          }
        }

        &.deletelink {
          &:before {
            background: rgba( $danger, .7 );
          }
        }

        &.changelink {
          &:before {
            background: rgba($neutral, .7);
          }
        }
      }

      > li:first-child {
        padding-top: $global-padding;
        border-top: 1px solid darken($light-grey, 10%);
      }
    }
  }

  div.breadcrumbs {
    background: $white;
    padding: $global-padding / 2 $global-padding;
    color: $dark-grey;

    a {
      color: $brand-color;

      &:hover {
        color: darken( $light-green, 30% );
      }
    }
  }

  .grid-row {
    display: flex;
    justify-content: space-between;
    padding: $global-padding / 2 0;
    width: 100%;

    span {
      &:nth-child(1) {
        width: 60%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 20%;
      }
    }
  }

  .change-list-grid {
    @include grid(true, false, 1fr 5fr 10fr 5fr, 0, true, false)
  }

  .result-list-grid {
    padding-bottom: $global-padding;
  }

  .row1 {
    background-color: darken($white, 10%);
  }

  .grid {
    display: grid;
    margin-top: 0;
    padding-top: 0;
    grid-template-columns: 1fr 5fr 4fr 4fr 4fr;

    span {
      padding: 1em;
    }

    &:first-child {
      width: auto;
    }
  }

  #content-main {
    position: relative;
    width: 100%;

    .object-tools {
      position: relative;
      left: 0;
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      z-index: 2;

      a {
        display: inline-block;
        border-radius: 0;
        padding: $global-padding $global-padding * 2;
        background-color: $brand-orange;
        color: $white;
        transition: all 250ms ease-in-out;

        &:hover {
          background-color: darken($brand-orange, 10%);
          color: darken( $white, 10%);
          transition: all 250ms ease-in-out;
        }
      }
    }
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;

    #container {
      margin: 0 auto;
    }

    .content {
      .columns {
        flex-direction: column;

        .errornote {
          color: $brand-color;
          background: rgba( $brand-orange, .4);
          margin: $global-margin / 2;
          padding: $global-padding / 2;
        }
      }
    }
  }

  .branding {
    h1 {
      margin-bottom: $global-margin * .75;
    }
  }

  .content {
    h1 {
      margin-bottom: $global-margin * 3;
    }
  }

}

// Overrides
strong {
  color: $white;
}


h1 {
  font-size: 2em;
  margin-bottom: 0.5em;

  &:not(:first-child) {
    margin-top: 1em;
  }
}

h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;

  &:not(:first-child) {
    margin-top: 1.1428em;
  }
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;

  &:not(:first-child) {
    margin-top: 1.3333em;
  }
}

h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: $brand-green;

  &:visited {
    color: darken($brand-green, 0.1);
  }
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;

  span {
    padding: 1em;
    flex: 1 1 content;
  }

  &:first-child {
    flex: 0 0 1 !important;
  }

  @media screen and (max-width: 640px) {
    flex-flow: column nowrap;
  }
}
