<div id="login" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content card transparent">
      <div class="card-header">
          <h5>Sign-In</h5>
      </div>
      <div class="card-content">
        <form class="row columns" action="/login" method="POST">
        {% csrf_token %}
            <div class="column field">
                <div class="control">
                    <input name="username" class="input" type="text" placeholder="username..."/>
                </div>
            </div>

            <div class="column field">
                <div class="control">
                    <input name="password" class="input" type="password" placeholder="password..."/>
                </div>
            </div>
        <div class="column field">
          <div class="control">
            <button class="button">Submit</button>
          </div>
        </div>
    </form>
          </div>
  </div>
  <button data-modal="login" class="modal-close delete is-large" aria-label="close"></button>
</div>