<div class="navbar">
    <ul class="navbar-content">
        {% for nav in top_level_navigation %}
            <li class="navbar-item {%  if nav.2 == True %} has-dropdown is-hoverable navbar-link {% endif %} is-inline-flex">
                <a href="/{{ nav.0 }}">{{ nav.1 }}</a>
            {% if nav.2 == True %}
                <div class="navbar-dropdown">
                    <a href="/{{ nav.0 }}">{{ nav.1 }}</a>
                </div>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>