<div data-animate-in="slide-up" data-animate-out="slide-down" class="card column {{ type }}">
    <div class="card-header">
        <h5>{{ title }}</h5>
    </div>

    <div class="card-content">
        {% if icon %}
            <i class="card-icon {{ icon }}"></i>
        {%  endif %}
        <p>{{ content }}</p>
    </div>
</div>